
a:hover{
  cursor: pointer;
  text-decoration: none;
}

/* @font-face {
    font-family: "contra";
    src: url(fonts/contra.ttf) format("truetype");
}
*/

body{
	font-family:  "Palatino Linotype", Palatino, garamond, serif; /*georgia*/
	font-size: 16px;
  overflow-y: scroll;
  background-color: #fcfcfc;
}

body.leave-fixed-space{
  margin-top: 110px;
}
@media (min-width: 768px) { /* for non-mobiles */
  body.leave-fixed-space{
    margin-top: 70px;
  }
}



/* Navigation at the top of the page */

.navbar-fixed-top {
  border-bottom: 1px solid #ddd;
  box-shadow: 0 3px 2px -2px rgba(200,200,200,0.2);
  background-color: #ff4500; /* orange red - alternative is vermilion #E34234*/
}

.navbar-brand { /*mobile first*/
  height: 50px;
  padding-top: 15px;
  padding-left: 15px; /* mobile only */
  font-size: 20px; /* mobile only */
  line-height: 20px;
  color: white !important;
}

@media (min-width: 991px) { /* for desktops */
  .navbar-brand {
    font-size: 24px;
    padding-left: 0px;
    color: #ff4500 !important;
  }

  .navbar-fixed-top {
    border-bottom: 1px solid #ddd;
    border-top: 2px solid rgba(256,69,0,0.5);
    background-color: #f8f8f8; /* orange red - alternative is vermilion #E34234*/
  }
}

.navbar-toggle {
  border-color: transparent !important;
}
.navbar-toggle:hover, .navbar-toggle:focus {
  background-color: transparent !important;
}

#mobile-top-bar {
  height: 40px;
}


#mobile-top-bar .row {
  overflow: hidden; /* hack http://stackoverflow.com/questions/1260122/expand-div-to-take-remaining-width */
  height: 100%;
}

#mobile-top-bar .row .mobile-top-cols {
  height: 100%;
  text-align: center;
  line-height: 100%;
} 

#mobile-top-bar .row a {
  position: relative; /* vertical aligning  - huh! */
  top: 50%; 
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  display: inline-block;
  margin-left: -15px; /* to compenate margin-right of button */
  color: #777;

}

#mobile-top-bar .navbar-toggle { /* the left button */
  float: left;
  padding: 6px 9px;
  margin: 6px 9px;
  margin-right: 15px;
  border-color: transparent;
}

#mobile-top-bar .icon-bar {
  width: 20px;
}

/* End of Navigation top of the page */



/* Now the Left panel which should be fixed and swipable from the left in mobile */
@media (min-width: 768px) {  /* left panel in non-mobiles should never be display:none; from ng-hid*/
  #left-panel {
    display: block !important; /* ng-hide also puts !important, but this is id */

    font-size: 15px;
  }
}

@media (max-width: 767px) { /* for mobiles */
  #left-panel {
    position: fixed;
    left: 0;
    top: 90px;
    border: 1px solid rgba(200,200,200,0.3);
    z-index: 1050;
    background-color: #fcfcfc;
    width: 200px;
    height: 85vh;
    overflow: scroll;
    font-size: 15px;
    padding-right: 2px;
  }
  
  #left-panel.ng-hide {
    left: -200px;
    transition: left 0.2s ease-in;
  }
  #left-panel.ng-hide-remove-active {
    left: 0px;
    transition: left 0.15s ease-in;
  }
}

/* An overlay at the left for swiping in mobiles */
#left-overlay {
  width: 20px;
  height: 700px;
  position: fixed;
  top: 90px;
  left: 0px;
  background-color: transparent;
  z-index: 1060; /* left panel is 1050 */
  /* pointer-events: none;  for delegating clicks to the bottom layer, but swipe won't work */
}

.left-routines-header {
  height: 40px;
  width: 100%;
  border-bottom: 1px solid #e2e2e2;
  line-height: 30px;
  padding: 5px;
  border-radius: 2px;
  margin-bottom: 5px;
  margin-top: 2px;
}

.left-content {
  padding: 5px;
  border-radius: 2px;
}

.left-content:hover {
  background-color: #eee;
}

.left-content a {
  width: 100%;
  display: block;
}


.left-projects-header {
  height: 40px;
  width: 100%;
  border-bottom: 1px solid #e2e2e2;
  line-height: 30px;
  padding: 5px;
  border-radius: 2px;
  margin-bottom: 5px;
  margin-top: 15px;
}

@media (max-width: 767px) {
  .left-projects-header {
    background-color: #adebad;  
  }

  .left-routines-header {
    background-color: lightsteelblue;
  }
}  

/* End of Left panel */

/* Right Panel should be Collapsable in Mobile and Tablets - Fixed 
/* Right panel which should be fixed and swipable from the right in mobile */
@media (min-width: 992px) {  /* right panel in desktops should never be display:none; from ng-hid*/
  #right-panel {
    display: block !important; /* ng-hide also puts !important, but this is id */
  }
}

@media (max-width: 991px) { /* for mobiles */
  #right-panel {
    position: fixed;
    right: 0;
    top: 50px;
    border: 1px solid rgba(200,200,200,0.3);
    z-index: 1050;
    background-color: #fcfcfc;
    width: 200px;
    min-height: 400px;
  }
  
  #right-panel.ng-hide {
    right: -200px;
    transition: right 0.25s ease-in;
  }
  #right-panel.ng-hide-remove-active {
    right: 0px;
    transition: right 0.2s ease-in;
  }
}

/* An overlay at the right for swiping in mobiles */
#right-overlay {
  width: 20px;
  height: 700px;
  position: fixed;
  top: 50px;
  right: 0px;
  background-color: transparent;
  z-index: 1060; /* left panel is 1050 */
  /* pointer-events: none;  for delegating clicks to the bottom layer, but swipe won't work */
}


/* Main Panel */

#main-panel {
  min-height: 500px;
}

#graph-canvas {
  height: 120px !important;
}

@media (min-width: 991px) { /* for desktops */
  #graph-canvas {
    height: 220px !important;
  }

}

/* End of Main Panel */

#timer{
  margin-top: 20px;
  width: 130px;
  padding: 10px 5px !important;
  font-family: Helvetica, "Open Sans" Arial, Verdana, sans-serif;
}
.timer-body{
  text-align: center;
  width: 100%;
  font-size: 2em;
  margin: 6px 0px;
}
.timer-footer{
  width: 100%;
  position: relative;
  left: 0px;
}
#play-pause-timer{
  width: 43%;
  display: inline-block;
  text-align: right;
  margin-right: 5px;
}
#stop-timer{
  display: inline-block;
  text-align: left;
  margin-left: 5px;
  color: #665555;
}
.stop-timer-active{
  color: #bb6688 !important;
}

#play-pause-timer:hover{
  cursor: pointer;
}
#stop-timer:hover{
  cursor: pointer;
}
@media (max-width: 991px) { /* for xtra-small and small devices */
  #timer{
    margin-top:15px;
    width: 120px;
  }
  #play-pause-timer{
    width:30px;
  }
  .timer-footer{
    margin-left: 23px;
  }

}

.timer-header{
  font-size: 12px;
  font-weight: 500;
  font-style: italic;
  color: #555;
  width: 100%;
  height: 20px;
 /* box-shadow:  0 1px 2px -1px rgba(200,200,200,0.7);*/

}
.truncated { 
  display: inline-block;
  min-width: 100%; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap; 
  text-align: center;
}

.required:after { content:" *"; }
.required{
  color: red;
}





.modal-icons{
  margin-right: 5px;
  color: #777;
}

.theme-color{
  color: #5cb85c; /*bootstrap green*/
}


.custom > li:hover{
  background-color: #E34234 !important;
}



#load-more-projects-div{
  width: 100%;
}

#load-more-projects{
  display: inline-block;
  margin-left: 0%;
  font-size:13px;
  font-family: Times;
}

.add-near-project{
  float: right;
  display: inline-block;
  text-align: right;
  font-size: 10px;
  font-weight: 600;
}

.my-font-heading{
	font-family: Helvetica, Arial, Verdana, sans-serif;
}

.add-data{
	width: 75px;
	max-height: 50px;
	border-radius: 20px;
	background-color: rgba(255,255,255,0.8);
}

.my-thumbnail-marker{
	width: 22px;
	display: inline-block;
}

@media (min-width: 768px){
  .search-form-padding{
    padding-left: 15px;
  }
  #home{
    display: none;
  }
  .search-form-control{
    width: 160px !important;
  }
  .left-caret{
    display: none; /* for sm devices, only right-caret in timer */
  }
}  
@media (min-width: 992px){
  .search-form-padding{
  padding-left: 55px;
  }
  #home{
    display: inline-block;
  }
  .search-form-control{
    width: 180px !important;
  }
  .left-caret{
    display: inline-block; /* Again reset left-caret in higher resolution devices */
  }
}
@media (min-width: 1200px){
  .search-form-padding{
    padding-left: 90px;
  }
  .search-form-control{
    width: 340px !important;
  }
}




.one-day-box {
  width: 100%;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 30px;
}


@media (min-width: 992px) {
  .one-day-box {
    width: 580px;
  }
}


.daily-box{
  /*margin-bottom: 3px;
  border: 1px solid rgba(200,200,200, 0.4);
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;*/
  border-radius: 4px;
  padding: 5px 10px;
  background-color: white;
  border-top: 1px solid #e2e2e2;
}

.date-box{
  text-align: center;
  margin-bottom: 5px;
  margin-top: 10px;
  color: #57d;
}
.date-box .date {
  display: inline-block;
  font-size: 18px;
  opacity: 0.8;
  font-style: italic;
  font-weight: 600;
}

.main-edit-one-day {
  float: left;
  display: inline-block;
  padding-left: 10px;
}
.main-edit-one-day .glyphicon {
  font-size: 15px;
  opacity: 0.6;
}

.main-edit-one-day .uib-dropdown-menu {
  background-color: #fcfcfc;
}

.daily-box-header {
  margin-bottom: 5px;
  margin-top: 2px;
  border-bottom: 1px solid rgba(200,200,200,0.2);
}

.daily-box-edit {
  font-family: Helvetica, "Open Sans" Arial, Verdana, sans-serif;
  font-size: 13px;
  color: rgba(200,200,240,0.95);
}

.daily-box-title {
  display: inline-block;
  font-family: "Times New Roman", Garamond, "Open Sans" Arial, Verdana, sans-serif;
  font-size: 15px;
  color: #666;
  text-transform: capitalize;
  letter-spacing: .7px;
  line-height: 1.5;
/*  border-bottom: 1px solid #e2e2e2;*/
  margin-bottom: 8px;
  font-style: italic;
  font-weight: 500;
}

.projects-box {
  margin-top: 10px;
  padding-bottom: 5px;
  /* border-bottom: 1px solid #e2e2e2; */

}



.general-box {
  margin-top: 0px;
}

.general-single {
	margin: 10px 0px;
}

.routine-name {
  display: inline-block;
  min-width: 200px;
}

.project-name {
  display: inline-block;
  min-width: 200px;
}

.project-hours {
  display: inline-block;
  margin-left: 10px;
}

.project-timepicker {
  display: inline-table;
}

.project-notes {
  margin-top: 5px;
  padding: 5px;
}

.routines-box {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(200,200,200,0.3); 
}

.routine-single {
  margin-top: 20px;
  padding-bottom: 0px;
}

.routine-checkbox {
  display: inline-block;
  margin-right: 10px;
  color: green;
  opacity: 0.8;
}

.project-single {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(200,200,200,0.3); 
}

.routine-button {
  margin-top: 20px;
  padding: 5px 10px;
  /*margin-left: 160px;*/
}

.routine-circular-thumbnail {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  background-color: lightsteelblue;
  margin-right: 2px;
  position: relative;
  top: 1px;
}

.project-circular-thumbnail {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  background-color: #adebad; /* light green */
  margin-right: 2px;
  position: relative;
  top: 1px;
}

.project-thumbnail-icon {
	font-size: 14px;
	display: inline-block;
	padding-right: 10px;
}

.project-thumbnail-icon:hover {
	cursor: pointer;
}

.project-direction {
  display: inline-block;
}

.checkbox-remove {
  color: #E34234; /*vermilion*/
}

.general-notes {
  width: 100%;
  height: 75px;
}

.ellipsis-right {
	display: inline-block;
	float: right;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 10px;
	color: rgba(130,130,130,0.8);
	font-size: 18px;
	width: 30px;
}

.ellipsis-right:hover {
	cursor: pointer;
}

.dropdown-icon{
  color: #777;
  opacity: 0.8;
  font-size: 11px;
  margin-left: -10px;
  margin-right: 7px;
}



/* Text Editor */

[contenteditable="true"] ul, ol{
  padding-left: 23px !important;
}

.initial-loading-container{
  height: 400px;
}
@media (max-width: 991px) { /* for xtra-small and small devices */
  .initial-loading-container{
     height: 200px;
  }
}
.initial-loading-gif{
  margin: auto;
  width: 48px;
  height: 48px;
  position: relative;
  top: 30%;
}


/******* begin of welcome.css ***********/

#welcome-top-section{
  background-image: url('../images/background-sunrise.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  color: white;
  padding-top: 30px;
}

#company-name{
  display: inline-block;
}

.personal-dashboard{
  font-size: 18px;  
  text-align: right;
}


.signup-heading{
  font-size: 20px;
  margin-bottom: 20px;
  padding: 10px;
  margin-top: 70px;
}

.signup-content{
  padding: 10px;
  font-size: 20px;
}

/******* end of welcome.css ***********/




/* Text Area - Note-Area */
/* Text Area - with Div */
.textarea-div {
    height: 240px;
    padding: 4px 6px 4px 6px;
    
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
       -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
         -o-transition: border linear 0.2s, box-shadow linear 0.2s;
            transition: border linear 0.2s, box-shadow linear 0.2s;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 0px;
    overflow:auto;
}
.textarea-div:focus {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

/* Allows bootstrap class="btn-group" to be properly responsive */
.textarea-icon-group .btn-group {
    margin-left: 0px;
    margin-right: 0px;
}
.textarea-icon-group .btn-group:last-child {
    margin-right: 0;
}

.textarea-icon-group{
  background-color: #fbfbfb;
  border-bottom: 2px solid #cccccc;
}

.textarea-icon-group .btn-group .btn{
  background-color: #fbfbfb;
  border-radius: 0px;
  border: 1px solid rgba(200,150,200, 0.4);
  padding: 3px 7px;
  color: #555;
}
.textarea-icon-group .btn-group.float-right{
  float: right;
}
/* Allows <i class="textarea-div-i-xxx" /> */
[class^="textarea-i-"],
[class*=" textarea-i-"] {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-top: 1px;
    line-height: 20px;
    vertical-align: text-top;
    
}

/* The individual RTA icons */
.textarea-i-check {
  color: green;
}
.textarea-i-bug {
  color: #8E0000;
}
.textarea-i-remove {
  color: #8E0000;
}
.textarea-i-square {
  color: green;
}
.textarea-i-star {
  color: #bbbb55;
}

.textarea-i-heart {
  color: #ff5555;
}

.textarea-i-phone {
  color: blue;
}

hr{
  margin: 16px 15px;
  border: 1px solid rgba(200,200,200,0.5);
}

.inserted-icon{
  display: inline-block;
  margin-right: 4px;
  font-size: 15px;
}

.inserted-image {
  display: block;
  width: 100%;
  
}

.show-all-icons-dropdown-menu {
  background-color: #ffffe5; 
  padding-left: 12px;
  width: 220px;
}

.show-all-icons-dropdown-menu .btn{
  border: 0px !important;
}


