<!DOCTYPE html>
<html>  
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>Hummuse</title>
  <link rel="stylesheet" type="text/css" href="static/assets/bootstrap.css"/>
  <link rel="stylesheet" href="static/assets/angular-chart.css"/>
  <link rel="stylesheet" type="text/css" href="static/fonts/font-awesome/css/font-awesome.min.css"/>
  <link rel="stylesheet" type="text/css" href="static/css/mainstyle.css"/>
  <link rel="stylesheet" type="text/css" href="static/css/paint-style.css"/>
</head>

<body class="leave-fixed-space" ng-app="hummuse-app">

<div class="navbar-fixed-top navbar-default my-font-heading" ng-controller="NavigationCtrl as navctrl">
	<div class="container">	
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Hummuse</a>
			<button type="button" class="navbar-toggle"  ng-click="navctrl.isCollapsedRight = !navctrl.isCollapsedRight">
			  <span class="sr-only"></span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			</button>
		</div>
		
    <!-- Only for Non-Mobile -->
		<div class="hidden-xs">
		  <ul class="nav navbar-nav navbar-right custom">
		    <li class="active" id="home"><a href="/"><div>Home</div></a></li>
		  
  		  <li><a><div>Connect</div></a></li>

		  <li class="dropdown">
		  	<a class="dropdown-toggle" data-toggle="dropdown">{{user_name}}<span class="caret"></span></a>
		    <ul class="dropdown-menu">
		      <li><a>Profile</a></li>
		      <li class="divider"></li>
		      <li><a href="{{logout_url}}">Logout</a></li>
		    </ul>
		  </li>

		  </ul>

		  <form class="navbar-form navbar-left" role="search">
		  <div class="form-group search-form-padding">
		    <input type="text" id="search-input" class='form-control search-form-control' placeholder="Search Tags">
		  </div>
		  <button type="button" id="search-button" class="btn btn-success">Search</button>
		  </form>

		</div>

	</div> <!-- End of navbar-fixed-top -->

  <!-- MOBILE specific bar under, (inside) navbar-fixed-top   -->
  <div class="visible-xs navbar-default" id="mobile-top-bar">

    <button type="button" class="navbar-toggle"  ng-click="navctrl.isCollapsedLeft = !navctrl.isCollapsedLeft">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>

    <div class="row">
      <div class="col-xs-4 mobile-top-cols">
        <a href="/">Home</a>
      </div>
      <div class="col-xs-4 mobile-top-cols">
        <a>Connect</a>
      </div>
      <div class="col-xs-4 mobile-top-cols">
        <a>Timer</a>
      </div>
    </div>    
  </div>

</div>

<!-- As special overlay for swipeLeft and swipeRight for mobile devices 
<div class="visible-xs" ng-controller="OverlayCtrl as octrl">
  <div id="left-overlay" ng-swipe-right="octrl.isCollapsedLeft = false"></div>
  <div id="right-overlay" ng-swipe-left="octrl.isCollapsedRight = false"></div>
</div>  -->

{% raw %} <!-- Avoided by jinja and swig -->
<div class="container">
<div class="row">


<!-- LEFT PANEL - tablets and desktops but fixed leftslider in mobiles -->
<div id="left-panel" ng-controller="LeftPanelCtrl as lctrl" ng-hide="lctrl.isCollapsed" class="col-sm-3 col-md-2" ng-swipe-left="lctrl.isCollapsed = true"> 

<div class="row"> <!-- get rid off padding -->

    <div class="left-routines-header">Routines</div>
    
    <div ng-repeat="r in lctrl.projects.routines">
      <div class="left-content"><a>{{r}}</a></div>
    </div>  

    <div class="left-projects-header">Projects</div>
    
    <div ng-repeat="p in lctrl.projects.projects">
      <div class="left-content"><a>{{p}}</a></div>
    </div>  
  
</div> 
</div>



<!-- MAIN PANEL  -->
<div id="main-panel" class="col-sm-9 col-md-8" ng-controller="MainPanelCtrl as mctrl" hummuse-touch="mctrl.touchMode">
<div class="row"> <!-- only for full width view in mobiles -->
  <!-- Directive -->
  <paintangular></paintangular>

 <!-- <canvas id="graph-canvas" class="chart chart-line" chart-data="mctrl.hours" chart-legend="false"
    chart-labels="mctrl.labels" chart-legend="true" chart-series="mctrl.series"
    chart-click="mctrl.onClick">
  </canvas>     -->

  <one-day ng-repeat="day in mctrl.data.json">
  </one-day>

</div>
</div>



<!-- RIGHT PANEL -->
<div id="right-panel" ng-controller="RightPanelCtrl as rctrl" ng-hide="rctrl.isCollapsed" class="col-md-2" ng-swipe-right="rctrl.isCollapsed = true">

  <hummuse-timer></hummuse-timer>
  
</div>

</div>
</div>

<script src="static/assets/angular.min.js" type="text/javascript"></script>
<script src="static/assets/angular-animate.js" type="text/javascript"></script>
<script src="static/assets/ui-bootstrap.js" type="text/javascript"></script>
<script src="static/assets/angular-touch.js" type="text/javascript"></script>
<script src="static/assets/Chart.js" type="text/javascript"></script>
<script src="static/assets/angular-chart.js" type="text/javascript"></script>
<script src="static/js/hummuse-timer.js" type="text/javascript"></script>
<script src="static/js/hummuse-data.js" type="text/javascript"></script>
<script src="static/js/paintangular.js" type="text/javascript"></script>
<script src="static/js/angular-rte.js" type="text/javascript"></script>
<script src="static/js/mainjs.js" type="text/javascript"></script>
<!-- <script src="static/js/MathJax-master/MathJax.js?config=TEX-AMS_HTML" type="text/javascript"></script> 
<!- change to this later to load from CDN - change JQuery as well
<script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML'></script>
-->
{% endraw %}
</body>
</html>